<p>
<strong>First_Name:</strong>
<%= @form.first_name %>
</p>
<p>
<strong>Last_Name:</strong>
<%= @form.last_name %>
</p>
<p>
<strong>Gender:</strong>
<%= @form.gender %>
</p>
<p>
<strong>Preferred_Language:</strong>
<%= @form.preferred_language %>
</p>
<p>
<strong>Email_Id:</strong>
<%= @form.email %>
</p>
<p>
<strong>Mobile:</strong>
<%= @form.mobile %>
</p>
<p>
<strong>Address:</strong>
<%= @form.address1 %>
</p>
<p>
<strong>City:</strong>
<%= @form.city %>
</p>
<p>
<strong>State:</strong>
<%= @form.state %>
</p>
<p>
<strong>Country:</strong>
<%= @form.country %>
</p>
<p>
<strong>form_Name:</strong>
<%= @form.username %>
</p>
<p>
<strong>Password:</strong>
<%= @form.password %>
</p>