<h2 align= center ><strong>Create Contact</strong></h2>
<%= simple_form_for @contact do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :contact_type %>
  <%= f.input :address1 %>
  <%= f.input :address2 %>
  <%= f.input :city %>
  <%= f.input :phone_number %>
  <%= f.input :state %>
  
  <%= f.input :birthday %>
  <%= f.button :submit %>
 <% end %>