<h1 align=center><strong>contact</strong></h2>
<p>
<strong>First_Name:</strong>
<%= @contact.first_name %>
</p>
<p>
<strong>Last_name:</strong>
<%= @contact.last_name%>
</p>
<p>
<strong>Contact-Type:</strong>
<%= @contact.contact_type %>
</p>

<p>
<strong>Address1:</strong>
<%= @contact.address1 %>
</p>

<p>
<strong>Phone No:</strong>
<%= @contact.phone_number %>
</p>
<p>
<strong>City:</strong>
<%= @contact.city %>
</p>
<p>
<strong>State:</strong>
<%= @contact.state %>
</p>
<p>
<strong>Birthday:</strong>
<%= @contact.birthday %>
</p>
<%= link_to 'Back', contacts_path %>